/* test */

#webcam {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index:-1;
  color: #fefefe;
  text-align: center;
}

#webcam #imagen { 
    position: relative;
    left:0;
    top: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.source {
    position: absolute;
    display: block;
    left:3px;
    bottom:3px;
    color: #fefefe;
}

.source:hover {
    color: #fff;
}

